# Spoke ClusterProfile spec template.
apiVersion: multicluster.x-k8s.io/v1alpha1
kind: ClusterProfile
metadata:
  name: ${SPOKE_CLUSTER_NAME}
  labels:
    x-k8s.io/cluster-manager: knative-operator-e2e
spec:
  displayName: ${SPOKE_CLUSTER_NAME}
  clusterManager:
    name: knative-operator-e2e
